{% extends 'layouts/main.html' %}
{% block title %}Not_implemented{% endblock %}
{% block content %}

<h1>{{page_title}}</h1>

<h2>Not implemented</h2>
<p>
I am working on adding new things, including the feature you were trying to use. It isn't ready yet :)
</p>

{% endblock %}
