<html>
<head>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css" type="text/css">

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.13.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>

</head>
<body>
<H1>An amazingly professional plotting system</H1>
<H1>mostly for time-series type data</H1>

<h3>Demo plot showing channels 0-3 for both wavelengths</h3>
<br>

{{ script_demo|safe }}
{{ div_demo|safe }}

<br>

<h3>Select channel</h3>
<a>Select an experiment: </a>
<form action="/">
<select name="dataset_name">
	{% for dataset in datasets %}
		{% if dataset == current_dataset %}
			<option selected value="{{ dataset }}">{{ dataset }}</option> 
		{% else %} 
			<option value="{{ dataset }}">{{ dataset }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit">


<!--
<br>
<select name="wavelength_number">
	{% for wavelength in wavelengths %}
		{% if wavelength == current_wavelength %}
			<option selected value="{{ wavelength }}">{{ wavelength }}</option> 
		{% else %} 
			<option value="{{ wavelength }}">{{ wavelength }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
-->


<br>

<a>Select a channel</a>
<select name="channel_number">
	{% for channel in channels %}
		{% if channel == current_channel %}
			<option selected value="{{ channel }}">{{ channel }}</option> 
		{% else %} 
			<option value="{{ channel }}">{{ channel }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>

<a>Currently showing experiment {{current_dataset}} and channel {{current_channel}}</a>
<br>

{{ script|safe }}
{{ div|safe }}

</body>
</html>
