{% extends 'layouts/main.html' %}
{% block title %}Results{% endblock %}
{% block content %}

<ul class="flex-container">

    {% for i in idx %}
        <li class="flex-item" entity_type={{entity_list[loop.index]}}>
            <h3>{{entity_list[loop.index]|safe}} ({{list2[loop.index]|safe}})</h3>
            <p>{{list3[loop.index]|safe}}</p>
            <p>{{list4[loop.index]|safe}}</p>
        </li>
    {% endfor %}

</ul>


{% endblock %}
